.container{
  display: flex;
  width: 100%;
}
.container ul{
  list-style: none;
  border: 1px solid;
  margin: 4px;
}
.container ul li{
  margin: 5px;
  padding: 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}